{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "eslint-config-airbnb",
  "rules": {
    "max-len": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true }]
  },
  "globals": {
    "process": true
  }
}
